include ../bespoke-themeboilerplate-prototype/mixin

+bespoke-themeboilerplate({ themeFile: 'dist/bespoke-theme-prototype.css', title: 'Prototype', authorName: '@markdalgleish', authorUrl: 'http://twitter.com/markdalgleish' })
